<h1><%=@recipe.name%></h1>

<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Cook time: <%=@recipe.cook_time%></p>


<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <!-- <a href="/recipes/<%=@recipe.id%>/delete">Delete</a> -->
  <input type="submit" value="delete">
</form>
